# Maven
backend/target/
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
/logs/
backend/logs/

# OS
.DS_Store
Thumbs.db

# Uploads / Images
backend/uploads/
D:/photo-management/

# Node
node_modules/

# Frontend build artifacts
frontend/dist/
frontend/dist-electron/
backend/src/main/resources/static/

# Local maven distribution
apache-maven-3.9.6/
maven.zip

# Business data
*.xlsx
*.xls

# Temp test images
123.png
*.png
!frontend/public/logo.png
!backend/extra-static/LOGO(1).png
!LOGO(1).png

# Temp js files
toysbear_*.js

# Build artifacts
photo-management/
BOOT-INF/

# Electron dist
electron/dist/
electron/jre/

# Temp files
*.fixed
